*,
*::before,
*::after {
  box-sizing: border-box;
}
 
body {
  font-family: 'Quicksand', sans-serif;
 
  height: 100vh;
  margin: 0;
 
  display: flex;
  flex-direction: column;
}
 
header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
 
  z-index: 9999;
}
header .jumbotron{
    /* background-color: aqua; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;


    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

header .jumbotron h1{
    margin: 0;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
 
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  border: 1px solid black;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
 
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
 
  transition: all 0.2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: black;
  color: white;
}

main {
    flex: 6;
    flex-direction: column nowrap;

    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    padding: 2rem 4rem;
    gap: 2rem;
    display: flex;
}

main aside {
    /* position: fixed; */
    display: flex;
    flex: 2;
    flex-flow: column nowrap;
    padding: 0 2rem 2rem 2rem;
}

main aside .aside-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 12px;
}

main aside .aside-header  {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

main aside .aside-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
figure figcaption {
    text-align: center;
}

main aside .aside-desc h3 {
    color: aqua
}
main aside .aside-desc ul li {
    list-style-type: none;
    font-weight: bold;
}
main aside .aside-desc ul li span {
    margin-left: 40px;
    font-weight: lighter;
}

/* ......................... */
main article {
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
}

main article .article-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 12px;
}

main article .article-card .article-image img {
    width: 100%;
    border-radius: 12px;
}

main article .article-card .article-description .title {
    font-size: 1.5rem;
}

main article .article-card .article-description p {
    font-size: 1rem;
    line-height: 1.5rem;
}

main article .article-card .article-description button {
    padding: 0.5rem 1.5rem;
    border: 3px solid transparent;
    border-radius: 999px;
    margin-block-start: 1rem;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

main article .article-card .article-description button:hover {
    border: 3px solid #2d3e50;
    background-color: transparent;
    color: #2d3e50;
}

footer {
    width: 100%;
    padding: 1rem 0;
    background-color: #0369a1;
    color: white;
    text-align: center;
    font: 0.5 sans-serif;
    font-weight: 500;
}

.shadow {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
header.navbar-container {
    flex-direction: column;
}

header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
}

main {
    padding: 1rem 3rem;
}

main .content {
    flex-direction: column;
    gap: 2rem;
}

main .content .content-description .title {
    font-size: 3rem;
}

main .content .content-description p {
    font-size: 1rem;
}

main .content .content-image {
    order: -1;
}

main aside {
    display: none;
}
}

